<div class="posts-wrapper">
  <%= render partial: 'shared/user', locals: { user: @user } %>
  <% @posts.each do |post| %>
    <%= render partial: 'shared/post', locals: { post: post}  %>
    <div class="comments">
      <% Post.recent_comments(post.id).each do |comment| %>
        <p><strong><%= comment.user.name %>:</strong> <%= comment.text %></p>
      <% end %>
    </div>
  <% end  %>
<%= button_to "Pagination", users_path, class: "btn", method: 'get' %>
</div>
