<div class="new-post">
  <h2>Create a new Post</h2>
  <%= form_with model: post, url: user_posts_path(current_user.id), method: post, scope: post do |form| %>
    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
    <div class="form-group">
      <%= form.label :text %>
      <%= form.text_area :text %>
    </div>
    <%= form.submit "Post!" %>
  <% end %>
</div>
